body{
margin:0;
padding:0;
line-height: 1.5em;
}

b{font-size: 93%;}
em{color: red;}


#topcolumn{
background: #EAEAEA;
height: 70px; 

}

h1{
margin: 0;
font-size: 155%;
padding-top: 15px;
}

#wrapper{
float: left;
width: 100%;
}

#centercolumn{
margin-left: 200px; 
}

#leftcolumn{
float: left;
width: 200px; 
margin-left: -100%;
background: #C8FC98;
}

footer{
clear: left;
width: 100%;
background: black;
color: #FFF;
text-align: center;
padding: 4px 0;
}

footer a{
color: #FFFF80;
}

.innertube{
margin: 10px; 
margin-top: 0;
}


