.content{
    display: flex;
    border: solid 1px green;
    background-color: aqua;
}
.menu{
    flex: 30% 1 0;
}
.menu ul{
    margin: 0;
    font-size: 14px;
    background-color: bisque;
    box-sizing: border-box;
    padding: 5px 5px 5px 30px;
}
.text {
    flex: auto 1 1;
    background-color: darkgray;
    font-size: 13px;
    display: grid;
    gap: 5px;
}
.text p{
    margin: 0;
}
.text img {
    float: right;
    width: 40%;
}